<form [formGroup]="form">
  <h3>Got a question? Feel free to reach out</h3>
  <app-input-field-light
    [title]="input.email.title"
    [control]="input.email.control"
    [iconName]="input.email.iconName"
    [parentForm]="form"
  ></app-input-field-light>
  <app-text-area-light
    [title]="input.description.title"
    [control]="input.description.control"
    [iconName]="input.description.iconName"
    [parentForm]="form"
    (change)="storeUpdates('description', $event)"
  >
  </app-text-area-light>
  <ion-button
    class="btn"
    color="secondary"
    shape="round"
    (click)="onSubmit()"
    [disabled]="form.invalid"
    >Get in touch
  </ion-button>
</form>
