<!-- Tag -->
<!-- <div class="tag" *ngFor="let tag of clip.tags"> -->
<div class="tag" [ngClass]="styleTags()">
  <!-- Person and State tags -->
  <div class="tag-line">
    <p class="tag-line tag-person">
      {{ tag.person }}
    </p>
    <p class="tag-line tag-action">
      {{ tag.state }}
    </p>
  </div>
  <!-- Add any Position tags -->
  <div *ngIf="tag.positions" class="tag-line tag-position">
    <p class="tag-line" *ngFor="let pos of tag.positions">
      {{ pos }}
    </p>
  </div>
  <!-- Add any Submission tags -->
  <div *ngIf="tag.submissions" class="tag-line tag-submission">
    <div *ngFor="let sub of tag.submissions" class="tag-line">
      <p class="tag-line tag-position">
        {{ sub.move }}
      </p>
      <p class="tag-line tag-action">
        {{ sub.finishType }}
      </p>
    </div>
  </div>
</div>
<!-- </div> -->
