// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap')

/** Ionic CSS Variables **/
:root 
  --ion-color-primary: #111111
  --ion-color-primary-rgb: 17,17,17
  --ion-color-primary-contrast: #ffffff
  --ion-color-primary-contrast-rgb: 255,255,255
  --ion-color-primary-shade: #0f0f0f
  --ion-color-primary-tint: #292929

  --ion-color-secondary: #CD1BAB
  --ion-color-secondary-rgb: 205,27,171
  --ion-color-secondary-contrast: #ffffff
  --ion-color-secondary-contrast-rgb: 255,255,255
  --ion-color-secondary-shade: #b41896
  --ion-color-secondary-tint: #d232b3

  --ion-color-tertiary: #0087B0
  --ion-color-tertiary-rgb: 0,135,176
  --ion-color-tertiary-contrast: #ffffff
  --ion-color-tertiary-contrast-rgb: 255,255,255
  --ion-color-tertiary-shade: #00779b
  --ion-color-tertiary-tint: #1a93b8

  --ion-color-success: #10dc60
  --ion-color-success-rgb: 16,220,96
  --ion-color-success-contrast: #ffffff
  --ion-color-success-contrast-rgb: 255,255,255
  --ion-color-success-shade: #0ec254
  --ion-color-success-tint: #28e070

  --ion-color-warning: #ffce00
  --ion-color-warning-rgb: 255,206,0
  --ion-color-warning-contrast: #ffffff
  --ion-color-warning-contrast-rgb: 255,255,255
  --ion-color-warning-shade: #e0b500
  --ion-color-warning-tint: #ffd31a

  --ion-color-danger: #f04141
  --ion-color-danger-rgb: 245,61,61
  --ion-color-danger-contrast: #ffffff
  --ion-color-danger-contrast-rgb: 255,255,255
  --ion-color-danger-shade: #d33939
  --ion-color-danger-tint: #f25454

  --ion-color-dark: #222428
  --ion-color-dark-rgb: 34,34,34
  --ion-color-dark-contrast: #ffffff
  --ion-color-dark-contrast-rgb: 255,255,255
  --ion-color-dark-shade: #1e2023
  --ion-color-dark-tint: #383a3e

  --ion-color-medium: #989aa2
  --ion-color-medium-rgb: 152,154,162
  --ion-color-medium-contrast: #ffffff
  --ion-color-medium-contrast-rgb: 255,255,255
  --ion-color-medium-shade: #86888f
  --ion-color-medium-tint: #a2a4ab

  --ion-color-light: #f4f5f8
  --ion-color-light-rgb: 244,244,244
  --ion-color-light-contrast: #000000
  --ion-color-light-contrast-rgb: 0,0,0
  --ion-color-light-shade: #d7d8da
  --ion-color-light-tint: #f5f6f9
  // Font
  --ion-font-family: 'Lato', sans-serif

  ion-button.btn
    height: 35px
    width: 283px
    font-weight: 600
    font-size: 16px
    --box-shadow: none

  .searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios
    background: #fff
