<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <!-- <ion-buttons>
            <ion-menu-button></ion-menu-button>
          </ion-buttons> -->
          <img class="logo" [src]="logo" (click)="toHome()" />
        </ion-col>
        <ion-col class="ion-text-center ion-padding-vertical" size="10">
          <!-- <ion-img class="logo" [src]="logo"></ion-img> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
