/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css"

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css"
@import "~@ionic/angular/css/structure.css"
@import "~@ionic/angular/css/typography.css"
@import '~@ionic/angular/css/display.css'

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css"
@import "~@ionic/angular/css/float-elements.css"
@import "~@ionic/angular/css/text-alignment.css"
@import "~@ionic/angular/css/text-transformation.css"
@import "~@ionic/angular/css/flex-utils.css"

@import "src/assets/styles/mixins"
@import "src/assets/styles/variables"


.container
  padding-right: 5px
  padding-left: 5px
  margin-right: auto
  margin-left: auto
  // margin-top: 35px
  width: 310
  @include flex-column
  @include screen-xl
   width: $container-xl
  @include screen-lg
   width: $container-lg
  @include screen-md
    width: $container-md

.container-wide
  padding-right: 5px
  padding-left: 5px
  margin-right: auto
  margin-left: auto
  // margin-top: 35px
  width: 310
  height: 100%
  @include flex-column
  @include screen-xl
   width: $container-wide-xl
  @include screen-lg
   width: $container-wide-lg
  @include screen-md
    width: $container-wide-md

.filler
  flex: 1 1 auto