@import '../../global'

h1 
  color: var(--ion-color-primary)
  font-weight: bold
  font-size: 30px
  @include screen-md
    font-size: 43px
  @include screen-lg
    font-size: 43px
  @include screen-xl
    font-size: 43px

#hero
  // width: 100%
  // height: calc(100vh - 55px)
  height: auto
  margin-left: auto
  margin-right: auto
  display: block

.hero-wrapper
  background-image: url("src/assets/images/home_hero_sm.png")
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  // height: 100vh
  // width: 500px
  // height: 100%
  @include screen-lg
    background-image: url("src/assets/images/home_hero_lg.png")
  @include screen-xl 
    background-image: url("src/assets/images/home_hero_lg.png")
  //   height: calc(100vh - 60px)
  // @include screen-xl
  //   height: calc(100vh - 60px)


#logo
  position: absolute
  top: 15px
  left: 15px

p 
  font-size: 18px
  @include screen-md
    font-size: 31px
  @include screen-lg
    font-size: 31px
  @include screen-xl
    font-size: 31px

p, h1
  text-align: center
  @include screen-md
    text-align: left
  @include screen-lg
    text-align: left
  @include screen-xl
    text-align: left