<!-- Header -->
<!-- <ion-header no-border class="ion-text-center">
  <ion-toolbar class="toolbar-border" color="primary">
    <ion-title class="logo">
      seequence
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content (window:resize)="fitImage()">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-center">
      <ion-col
        class="ion-no-padding"
        size="12"
        size-sm
        size-md="auto"
        size-lg="auto"
      >
        <ion-img id="logo" [src]="logo"></ion-img>
        <div
          id="hero-wrapper"
          class="hero-wrapper"
          [ngStyle]="{height: image_height, width: image_width}"
        >
          <!-- <ion-img id="hero" [src]="photo"></ion-img> -->
        </div>
      </ion-col>
      <ion-col>
        <div class="container">
          <ion-text>
            <h1>
              We translate combat sports footage into simple data stories
            </h1>
            <p>
              Get metrics and visualizations from athletic footage to
              supercharge your decision making
            </p>
          </ion-text>
          <app-contact-form></app-contact-form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark">
    <ion-title>seequence</ion-title>
  </ion-toolbar>
</ion-footer>
