@import '../../../../global'

.tag
  margin-bottom: 10px
  font-weight: 300
  
.tag-line
  display: inline

.tag-action
  color: $action-color

.tag-position
  color: $position-tag-color

.tag-submission
  color: $position-tag-color

// .tag-small
//   font-size: 14px

// .tag-medium
//   font-size: 20px

// .tag-large
//   font-size: 34px

.tag-person
  color: black